@model IEnumerable<AWE_Projekt_WS_17.Models.ContentGroup>

@{
    ViewBag.Title = "ContentGroups";
}

<style>
    th {
        font-size: 1.25em;
    }

    table {
        border-collapse: separate;
        border-spacing: 0 0.5em;
    }

    #bg-color {
        background-color: #E6E6E6;
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Startseite</a></li>
        <li class="breadcrumb-item"><a href="#">Meine Kurse</a></li>
        <li class="breadcrumb-item active" aria-current="page">Kurs bearbeiten</li>
    </ol>
</nav>

<h2>Content Groups</h2>

<p style="text-align: right; padding-right: 1%;">
    @Html.ActionLink("Create New", "CreateContentGroup", new { id = ViewBag.ID })
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Header)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="bg-color">
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Header)
            </td>
            <td style="text-align: right;">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "DeleteContentGroup", new { id = item.ID })
            </td>
        </tr>
    }

</table>
