@model IEnumerable<AWE_Projekt_WS_17.Models.ContentGroup>
@{
    ViewBag.Title = "Course";
    SelectList list = ViewBag.Rating;
}

<h2>Course</h2>
<h3>@ViewBag.Course</h3><br />

@Html.DisplayName("Average Rating"):
@ViewBag.Average<br /><br />

@Html.DisplayName("Rating"):
@Html.DropDownList("Rating", list, "Auswahl")

<div>
    <h4>Content</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Header)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Header) <br /><br />
            </dd>
            foreach (var element in item.ContentElements)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.ContentElements.FirstOrDefault().Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => element.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ContentElements.FirstOrDefault().Url)
                </dt>
                <dd>
                    @Html.DisplayFor(model => element.Url)<br /> <hr />
                </dd>
            }

        }

    </dl>
</div>