@model AWE_Projekt_WS_17.Models.ContentElement

@{
    ViewBag.Title = "DeleteElement";
    int ID = ViewBag.ID;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" style="color: #0080FF;"><a href="#">Startseite</a></li>
        <li class="breadcrumb-item active" aria-current="page" style="color: #0080FF;">Inhalt löschen</li>
    </ol>
</nav>

<h2>Element löschen</h2>

<h3>Sind Sie sicher, dass Sie löschen wollen?</h3>
<div>
    <h4>ContentElement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContentGroup.Header)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentGroup.Header)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <span class="btn-group" role="group">
                <input type="submit" value="Löschen" class="btn btn-primary" style="background-color: #0080FF;"/>
                @Html.ActionLink("Zurück", "Edit", new { id = ID }, new { @class = "btn btn-primary", @style = "background-color: #0080FF" })
            </span>
        </div>
    }
</div>
