@model AWE_Projekt_WS_17.Models.Course

@{
    ViewBag.Title = "Delete";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Startseite</a></li>
        <li class="breadcrumb-item"><a href="#">Meine Kurse</a></li>
        <li class="breadcrumb-item active" aria-current="page">Kurs löschen</li>
    </ol>
</nav>
<h2>Löschen</h2>

<h3>Sind Sie sicher, dass Sie löschen wollen?</h3>
<div>
    <h4>Kurs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <span class="btn-group" role="group">
                <input type="submit" value="Löschen" class="btn btn-primary" />
                @Html.ActionLink("Zurück", "Index", null, new { @class = "btn btn-primary" })
            </span>
        </div>
    }
</div>
