@model IEnumerable<AWE_Projekt_WS_17.Models.ContentElement>
@{
    ViewBag.Title = "CourseContent";
}
@{
    int id = ViewBag.ContentID;
    int counter = ViewBag.Counter + 1;
}
<style>

    .test {
        border: 2px solid black;
        border-color: #0174DF;
        height: 200px;
    }

    .middle {
        margin: 0px 30px 0px 30px;
    }

    th {
        font-size: 1.25em;
    }

    table {
        border-collapse: separate;
        border-spacing: 0 0.5em;
    }

    #bg-color {
        background-color: #E6E6E6;
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" style="color: #0080FF;"><a href="#">Startseite</a></li>
        <li class="breadcrumb-item active" aria-current="page" style="color: #0080FF;">Kurs bearbeiten</li>
        <li class="breadcrumb-item active" aria-current="page" style="color: #0080FF;">ContentGroup</li>
        <li class="breadcrumb-item active" aria-current="page" style="color: #0080FF;">Inhalte erstellen</li>
    </ol>
</nav>

@if (counter >= 2)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="bg-color">
                <td>
                    @Html.DisplayFor(modelItem => item.Type.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    @Html.ActionLink("Löschen", "DeleteElement", new { id = item.ID }, new { @class = "btn btn-primary", @style = "background-color: #0080FF" })
                </td>
            </tr>
        }

    </table>
}


<br />

<button class="btn btn-primary" id="butt" style="background-color: #0080FF;">Neue Inhaltsgruppe</button>

<h2>Kursinhalt</h2>
@using (Html.BeginForm("CreateContentElement", "Courses", FormMethod.Get))
{
    <div id="sections">
        <div class="section">
            <div class="container">

                <div class="form-group col-md-3 test">
                    <h4>Bescheibung und Typ</h4>
                    <label for="inputDescription">Beschreibung</label>
                    <input type="text" class="form-control" name="inputDescription" id="inputDescription">
                    <label for="inputType">Typ</label>
                    <select class="form-control" name="inputType" id="inputType">
                        <option value="1">Video</option>
                        <option value="2">PDF</option>
                        <option value="3">Text</option>
                    </select>
                </div>
                <div class="form-group col-md-3 test middle">

                    <h4>Wert</h4>
                    <label for="value">Wert(z.B. Hyperlink zur Videodatei)</label>
                    <input type="text" class="form-control" name="inputUrl" id="inputUrl">

                </div>

                <div class="form-group col-md-3 test">

                    <h4>Rang</h4>
                    <label for="order">Position des Inhalts</label>
                    <select class="form-control drop" name="inputOrder" id="inputOrder">
                        @if (counter >= 2)
                        {
                            <option value=@counter>@counter</option>
                        }
                        else
                        {
                            <option value=1>1</option>
                        }
                    </select>

                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    <input type="hidden" value="@id" name="contentId" id="contentId" />
    <div class="form-group">
        <div class="col-md-offset-4 col-md-6">
            <input type="submit" value="Erstellen" class="btn btn-primary" style = "background-color: #0080FF"/>
        </div>
    </div>

}



@section scripts {
    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">

        var template = $('#sections .section:first').clone();

        //define counter
        var sectionsCount = 1;

            //neue Section hinzufügen
            $('body').on('click', '#butt', function () {

                    //counter erhöhen
                    sectionsCount++;

                    //schleife durch jeden input
                    var section = template.clone().find(':input').each(function () {

                        //neue id mit updated counter
                        var newId = this.id + sectionsCount;

                        //update for label
                        $(this).prev().attr('for', newId);

                        //update id
                        this.id = newId;

                    }).end()

                        //initiiere neue sektion
                        .appendTo('#sections');
                    var count = @counter + sectionsCount;
                    //lösche dropdown
                    $('.drop')
                        .find('option')
                        .remove()
                        .end()
                    //fülle dropdown
                    for (var i = @counter; i < count; i++) {
                        $('<option value="' + i + '">' + i + '</option>').appendTo('.drop');
                    }

                    return false;

            });

    </script>
}