@model IEnumerable<AWE_Projekt_WS_17.Models.ContentElement>
@{
    ViewBag.Title = "CourseContent";
}
@{
    int id = ViewBag.ContentID;
    int counter = ViewBag.Counter;
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<br />

<button class="btn btn-primary" id="butt">new</button>

<h2>Course Content</h2>

<style>

    .test {
        border: 2px solid black;
        border-color: #0174DF;
        height: 200px;
    }

    .middle {
        margin: 0px 30px 0px 30px;
    }
</style>

<form>
    <div id="sections">
        <div class="section">
            <div class="container">

                <div class="form-group col-md-3 test">
                    <h4>Description and Type</h4>
                    <label for="inputDescription">Description</label>
                    <input type="text" class="form-control" id="inputDescription">
                    <label for="inputType">Type</label>
                    <select class="form-control" id="inputType">
                        <option>Video</option>
                        <option>PDF</option>
                        <option>Text</option>
                    </select>

                </div>
                <div class="form-group col-md-3 test middle">

                    <h4>Value</h4>
                    <label for="value">Value (e.g. Hyperlink to Videofile)</label>
                    <input type="url" class="form-control" id="inputUrl">

                </div>

                <div class="form-group col-md-3 test">

                    <h4>Order</h4>
                    <label for="order">Select Position of Content</label>
                    <select class="form-control drop" id="dropdown">
                        @for (int i = 1; i <= @counter+1; i++) {
                        <option value = @i>@i</option>
                        }
                    </select>

                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-6">
            <input type="submit" value="Erstellen" class="btn btn-default" />
        </div>
    </div>

</form>

@section scripts {
    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">

        var template = $('#sections .section:first').clone();

        //define counter
        var sectionsCount = 1;
        $alpha = $("#dropdown");

        //add new section
        $('body').on('click', '#butt', function () {

            //increment
            sectionsCount++;

            //loop through each input
            var section = template.clone().find(':input').each(function () {

                //set id to store the updated section number
                var newId = this.id + sectionsCount;

                //update for label
                $(this).prev().attr('for', newId);

                //update id
                this.id = newId;

            }).end()

                //inject new section
                .appendTo('#sections');
            var gay = @counter + sectionsCount;
            for (var j = 1; j <= gay; j++) {
                $('.drop')
                    .find('option')
                    .remove()
                    .end()

                for (var i = 1; i <= gay; i++) {
                    $('<option value="' + i + '">' + i + '</option>').appendTo('.drop');
                }
            }
            return false;
        });
    </script>
}