@model IEnumerable<AWE_Projekt_WS_17.Models.Course>

@{
    ViewBag.Title = "Index";
}

<style>
    th {
        font-size: 1.25em;
    }

    table {
        border-collapse: separate;
        border-spacing: 0 0.5em;
    }

    #bg-color {
        background-color: #E6E6E6;
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Startseite</a></li>
        <li class="breadcrumb-item active" aria-current="page" style="color: #0080FF;">Meine Kurse</li>
    </ol>
</nav>

<h2 style="padding-bottom: 30px;">
    Meine Kurse
    <span style="float: none; padding-left: 5%;">
        @Html.ActionLink("Neu erstellen", "Create", null, new { @class = "btn btn-primary", @style = "background-color: #0080FF;" })
    </span>
</h2>

<table class="table" style="margin-bottom: 100px;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="bg-color">
            <td>
                @Html.ActionLink(item.Title, "Course", new { CourseId = item.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="text-align: right;">
                <span class="btn-group" role="group">
                    @Html.ActionLink("Inhalt", "ContentGroup", new { id = item.ID }, new { @class = "btn btn-primary", @style = "background-color: #0080FF" })
                    @Html.ActionLink("Bearbeiten", "Edit2", new { id = item.ID }, new { @class = "btn btn-primary", @style = "background-color: #0080FF" })
                    @Html.ActionLink("Löschen", "Delete", new { id = item.ID }, new { @class = "btn btn-primary", @style = "background-color: #0080FF" })
                </span>
            </td>
        </tr>
    }

</table>
