@model IEnumerable<AWE_Projekt_WS_17.Models.Course>

@{
    ViewBag.Title = "Index";
}

<style>
    th {
        font-size: 1.25em;
    }

    table {
        border-collapse: separate;
        border-spacing: 0 0.5em;
    }

    #bg-color {
        background-color: #E6E6E6;
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Startseite</a></li>
        <li class="breadcrumb-item"><a href="#">Kurssuche</a></li>
        <li class="breadcrumb-item active" aria-current="page">Suchergebnisse</li>
    </ol>
</nav>

<h2 style="padding-bottom: 30px;">
    SearchResults
    <span style="float: none; padding-left: 5%;">
        @Html.ActionLink("Back", "Search", null, new { @class = "btn btn-default" })
    </span>
</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr id="bg-color">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Öffnen", "Course", new { CourseId = item.ID }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }
</table>
<div style="height: 100px;"></div>